.intro {
   padding: 92px 442px 0 148px;
   display: flex;
   flex-direction: column;
}

   @media screen and (max-width: 1024px) {
      .intro {
      /* padding: 92px 286px 0 48px; */
         padding-right: 286px;
         padding-left: 48px;
      }
   }
   
   @media screen and (max-width: 768px) {
      .intro {
   /*    padding: 88px 24px 0 24px; */
         padding-top: 88px;
         padding-right: 24px;
         padding-left: 24px;
      }
   }
   
   @media screen and (max-width: 320px) {
      .intro {
   /*    padding: 64px 16px 0 16px; */
         padding-top: 64px;
         padding-right: 16px;
         padding-left: 16px;
      }
   }